.Search-device {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Search {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Button-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 200px;
  padding: 10px 20px;
  background-color: var(--beige);
  color: var(--violeta);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.Button-search:hover {
  background-color: var(--amarillo);
}

.Error-adapter {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--beige);
}
.Error-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: var(--amarillo)
}