.Container-form-bluetooth {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.BluetoothForm {
  max-width: 400px;
  margin: 0 auto;
}

.Title-conection {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.On-off {
  margin-left: 10px;
  cursor: pointer;
}

.BluetoothForm button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.BluetoothForm button:hover {
  background-color: #0056b3;
}
