.Container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 40px;
  height: 800px;
}
.Form-create-user {
  width: 300px;
  border: 1px solid black;
  padding: 40px 50px 40px 50px;
  border-radius: 20px;
}
.Title-create-user {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  display: block;
  margin-bottom: 5px;
}
.Label-name-create,
.Label-email-create,
.Label-password-create {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Input-name-create,
.Input-email-create,
.Input-password-create {
  width: 150px;
  display: flex;
  align-items: center;
}

.Button-register {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}