.Container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
}
.Form-create-user {
  width: 300px;
  border: 1px solid rgb(241, 184, 19, 0.5);
  background-color:rgb(248, 206, 213, 0.1);
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
}
.Title-create-user {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 35px;
  border-bottom: 1px solid black;
}
label {
  display: block;
  margin-bottom: 5px;
}
.Label-name-create,
.Label-email-create,
.Label-password-create {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Input-name-create,
.Input-email-create,
.Input-password-create {
  width: 180px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-style: double;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color:rgb(248, 206, 213, 0.3);
  color: var(--amarillo);
}
.Input-name-create:focus,
.Input-email-create:focus,
.Input-password-create:focus {
  outline-color: rgb(248 206 213 / 64%);
  outline-style: solid;
  outline-width: thin;
}

.Button-register {
  height: 40px;
  border-radius: 10px;
  border-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 206, 213, 0.3);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.Link-login {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.Link-log {
  display: flex;
  justify-content:center;
  color: var(--amarillo);
  
}
.Error-message {
  color: var(--beige);
}