body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(250,209,215);
  background: radial-gradient(circle,
  rgba(250,209,215,1) 0%,
  rgba(188,30,81,1) 63%, 
  rgba(73,11,62,1) 95%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
